In [2]:
import pandas as pd

In [3]:
weather_df = pd.read_csv('data/weather_2012.csv')

* Access

In [4]:
# 1. Selecting Multiple Columns:  Get Weather and Temperature columns from weather_df
weather_df[['Weather', 'Temp (C)']].head(3)

                Weather  Temp (C)
0                   Fog      -1.8
1                   Fog      -1.8
2  Freezing Drizzle,Fog      -1.8

In [5]:
# 2. Get the first 15 rows
# weather_df[:15]
# weather_df.head(15)

In [6]:
# 3. Get first 3 alternating rows
weather_df[:6:2]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [7]:
# 4. Get first 3 alternating rows, but only Visibility and Rel Hum column
weather_df[:6:2][['Visibility (km)','Rel Hum (%)']] # you can do this both the ways: weather_df[['Visibility (km)','Date/Time']][:6:2]

   Visibility (km)  Rel Hum (%)
0              8.0           86
2              4.0           89
4              4.8           88

In [8]:
# 5. loc and iloc: better approach than 4: loc access data by labels basis : iloc access data by python index basis
# loc[rows, cols]
# iloc[rows][cols]
weather_df.loc[:3, ['Visibility (km)','Rel Hum (%)']] # or weather_df[['Visibility (km)','Date/Time']].loc[:3]

   Visibility (km)  Rel Hum (%)
0              8.0           86
1              8.0           87
2              4.0           89
3              4.0           88

In [9]:
weather_df[['Visibility (km)','Rel Hum (%)']].iloc[:3]

   Visibility (km)  Rel Hum (%)
0              8.0           86
1              8.0           87
2              4.0           89

### Filtering 
* Approach 1: Logical Operators `== > < <= >= != & |`
* Approach 2: df.`query('expr')`

In [10]:
# Q1. Find all instance when snow was recorded
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [11]:
snow_filter = weather_df['Weather'].str.lower().str.contains('snow')

In [20]:
weather_df[snow_filter].head(3)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers

In [21]:
weather_df.query('Weather.str.lower().str.contains("snow")').head(3) # equivalent

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers

In [14]:
weather_df[snow_filter]['Weather'].nunique()

19

In [15]:
# Q2. Find all instances when wind speed was above 24 and visibility was 25
filt = (weather_df['Wind Spd (km/h)'] > 24) & (weather_df['Visibility (km)'] == 25)

weather_df[filt]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,2012-12-28 17:00:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,2012-12-30 17:00:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,2012-12-30 19:00:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,2012-12-30 23:00:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,2012-12-31 00:00:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy